/* https://userstyles.org/styles/103278/ui */

/* i really want this to be global */
* {
    font-family: "Port Lligat Slab","WenQuanYi Micro Hei" !important;
    /*font-family: "Ubuntu","WenQuanYi Micro Hei" !important;*/
}

pre,
.r.plain, .r.functions, .r.string, 
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}


@-moz-document domain("github.com") {
pre span,
tbody tr td span, 
tbody tr td {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}

.blob-code {
	font-size:110%
}
	
.example_code {
	font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}
}

@-moz-document domain("kiwivm.64clouds.com") {
input {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}
}

@-moz-document url("http://10.21.3.101:8787/"), url("http://sunlijun.me:8787/") {
* {
    font-family: "Iosevka", "WenQuanYi Micro Hei", monospace !important;
}

}

@-moz-document domain("www.codecademy.com") {
pre span span, 
div span {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
    font-size:120%;
}
}

@-moz-document url("http://digg.com/reader") {
* {
    font-family: "Ubuntu","STXihei" !important;
}
 
}
