/* i really want this to be global */
* {
    font-family: "kreon Light","WenQuanYi Micro Hei" !important; 
    /*font-family: "Port Lligat Slab Larger","WenQuanYi Micro Hei" !important;*/
}

pre, pre span, li span, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}


@-moz-document url-prefix("https://github.com/"), domain("runoob.com") {
pre span,
tbody tr td span, 
tbody tr td {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}

.blob-code {
	font-size:110%
}

.example_code {
	font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}
}

@-moz-document domain("kiwivm.64clouds.com") {
input {
    font-family: "Iosevka Medium", "WenQuanYi Micro Hei", monospace !important;
}
}

@-moz-document url("http://sunlijun.me:8787/"), url-prefix("https://www.codecademy.com/"), url-prefix("https://campus.datacamp.com") {
* {
    font-family: "Iosevka","WenQuanYi Micro Hei" !important;
    
    /*font-family: "Ubuntu","WenQuanYi Micro Hei" !important;*/
}
}

@-moz-document url("http://digg.com/reader"), url-prefix("https://mail.qq.com") {
* {
    font-family: "kreon Light","STXihei" !important;
}
}
