/* i really want this to be global */
* {
    font-family: "kreon Light","WenQuanYi Micro Hei" !important; 
    /*font-family: "kreon Light","WenQuanYi Micro Hei" !important;*/
}

pre.r a, 
pre, pre span, li span, pre.rsplus, 
[action="/sqlcmd-sqlcourse2"] textarea, 
.container div code, 
.codeMirrors, 
.ace_line span, .ace_line,  
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,   
code span, /*stackoverflow.com*/
code span a, 
code, kbd, samp, var {
    font-family: "Monaco", "WenQuanYi Micro Hei", monospace !important;
    font-size:90%;
}


@-moz-document domain("codecademy.com") {
pre, pre span, li span, pre.rsplus, 
.container div code, 
.codeMirrors, 
.ace_line span, .ace_line,  
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,   
code span, /*stackoverflow.com*/
code span a, 
code, kbd, samp, var {
    font-size:100%;
}

}

@-moz-document url("http://23.106.137.247:8787/"), url("http://slj.space:8787/"), url("http://121.43.101.233:8787/"), domain("github.com"), domain("stackoverflow.com"), domain("github.io"), domain("stackexchange.com"), domain("superuser.com"), domain("askubuntu.com") {

pre, pre span, li span, pre.rsplus, 
/*tbody tr td span,*/ 
tbody tr td, 
.example_code, 
.container div code, 
.codeMirrors, 
.ace_line span, .ace_line,  
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,   
code span, /*stackoverflow.com*/
code span a, 
code, kbd, samp, var {
    font-family: "PragmataPro", "WenQuanYi Micro Hei", monospace !important;
    font-size:100%;
}
}

@-moz-document url("http://23.106.137.247:8787/"), url("http://slj.space:8787/"), url("http://121.43.101.233:8787/"), domain("kiwivm.64clouds.com") {
* {
    font-family: "PragmataPro", "WenQuanYi Micro Hei", monospace !important;
    font-size:100%;
}
}

@-moz-document url("http://digg.com/reader"), url-prefix("https://mail.qq.com") {
* {
    font-family: "kreon Light","STXihei" !important;
    /*STXihei*/
}
}
