/* i really want this to be global */
* {
    font-family: "kreon Light","WenQuanYi Micro Hei" !important; 
    /*font-family: "Port Lligat Slab Larger","WenQuanYi Micro Hei" !important;*/
}

td.code div, 
div.cnblogs_code_toolbar + div span, 
tt, blockquote p, 
pre, pre strong, pre span, li span, pre span a, pre[lang='{r'] code, pre[lang='{r}'] code, 
.sourceCode, 
.CodeMirror, 
.ace_line span, .ace_line, 
/*.ace_identifier, .ace_keyword, .ace_paren, .ace_punctuation, 
.ace_string, .ace_constant, .ace_meta, .ace_xml-pe, .ace_entity, 
.ace_variable, .ace_storage, .ace_support*/
.remark-code-line, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "Monaco", "WenQuanYi Micro Hei", monospace !important;
    font-size:90%;
}

@-moz-document url("http://192.168.184.129:8787/") {
/* i really want this to be global */
* {
    font-family: "Iosevka Light","WenQuanYi Micro Hei" !important; 
    /*font-family: "Port Lligat Slab Larger","WenQuanYi Micro Hei" !important;*/
}

tt, blockquote p, 
pre, pre strong, pre span, li span, pre span a, pre[lang='{r'] code, pre[lang='{r}'] code, 
.sourceCode, 
.CodeMirror, 
.ace_line span, .ace_line, 
/*.ace_identifier, .ace_keyword, .ace_paren, .ace_punctuation, 
.ace_string, .ace_constant, .ace_meta, .ace_xml-pe, .ace_entity, 
.ace_variable, .ace_storage, .ace_support*/
.remark-code-line, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "Iosevka Light", "WenQuanYi Micro Hei", monospace !important;
    font-size:100%;
}
}

@-moz-document domain("codecademy.com"), domain("codeschool.com") {
pre, pre span, li span, pre span a, 
.sourceCode, 
.CodeMirror, 
.ace_line span, .ace_line, 
.remark-code-line, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-size:100%;
}
}

@-moz-document domain("192.168.1.202"), domain("192.168.1.201"), domain("23.106.137.247"), domain("192.168.184.129") {
/* i really want this to be global */
* {
    font-family: "Iosevka","WenQuanYi Micro Hei" !important; 
    /*font-family: "Port Lligat Slab Larger","WenQuanYi Micro Hei" !important;*/
}

pre, pre span, li span, pre span a, 
.sourceCode, 
.CodeMirror, 
.ace_line span, .ace_line, 
/*.ace_identifier, .ace_keyword, .ace_paren, .ace_punctuation, 
.ace_string, .ace_constant, .ace_meta, .ace_xml-pe, .ace_entity, 
.ace_variable, .ace_storage, .ace_support*/
.remark-code-line, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "Iosevka Light", "WenQuanYi Micro Hei", monospace !important;
    font-size:100%;
}
}

@-moz-document domain("github.com"), domain("stackoverflow.com"), domain("github.io"), domain("rstudio.com") {
td.code div, 
div.cnblogs_code_toolbar + div span, 
tt, blockquote p, 
pre, pre strong, pre span, li span, pre span a, pre[lang='{r'] code, pre[lang='{r}'] code, 
.sourceCode, 
.CodeMirror, 
.ace_line span, .ace_line, 
/*.ace_identifier, .ace_keyword, .ace_paren, .ace_punctuation, 
.ace_string, .ace_constant, .ace_meta, .ace_xml-pe, .ace_entity, 
.ace_variable, .ace_storage, .ace_support*/
.remark-code-line, 
.rsplus, 
.blob-code, .blob-code span, .blob-num, 
.r.plain, .r.functions, .r.string, .r.keyword, 
code.plain, code.functions, code.string, code.keyword, code.spaces, code.value,  
code span, /*stackoverflow.com*/
code, kbd, samp, var {
    font-family: "PragmataPro", "WenQuanYi Micro Hei", monospace !important;
    font-size:100%;
}
}

@-moz-document url("http://digg.com/reader"), url-prefix("https://mail.qq.com") {
* {
    font-family: "kreon Light","STXihei" !important;
}

.story-detail-content {
	width:90%;
}
}
